replicaCount: 2

image:
  repository: <IMAGE_PATH>
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: my-app-staging.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: my-app-staging-tls
      hosts:
        - my-app-staging.example.com

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi

healthCheck:
  liveness:
    path: /health
  readiness:
    path: /health/ready
